{% extends 'base.html.twig' %}

{% block body_id 'index' %}

{% block body %}
    <div class="form-group">
        <button class="btn btn-primary new-race" >
            New Race
        </button>
    </div>
    {% for race in currentRaces %}
        <div class="race col-xs-6">
            <div class="col-xs-12">
                <h2>
                    Race {{ race.getId() }}
                </h2>

                <button class="btn btn-primary progress-race" data="{{ race.getId() }}" >
                    progress
                </button>
            </div>

            <div class="col-xs-12">
                <table>
                    <tr>
                        <th>
                            Horse Number
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Distance
                        </th>
                        <th>
                            Time
                        </th>
                    </tr>

                {% for horse in race.getHorses() %}
                    <tr>
                        <td>
                            {{ horse.getHorse().getId() }}
                        </td>
                        <td>
                            {{ horse.getPosition() }}
                        </td>
                        <td>
                            {{ horse.getDistanceCovered() }}
                        </td>
                        <td>
                            {{ horse.getCompletedTime() }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>

        </div>
    {% endfor %}

    <h3>Last five Races</h3>
    {% for race in lastfiveRaces %}
        <div class="race col-xs-6">

            <div class="col-xs-12">
                <table>
                    <tr>
                        <th colspan="4"> Race {{ race.getId() }}</th>
                    </tr>
                    <tr>
                        <th>
                            Horse Number
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Distance
                        </th>
                        <th>
                            Time
                        </th>
                    </tr>

                    {% for horse in race.getHorses() %}
                        <tr>
                            <td>
                                {{ horse.getHorse().getId() }}
                            </td>
                            <td>
                                {{ horse.getPosition() }}
                            </td>
                            <td>
                                {{ horse.getDistanceCovered() }}
                            </td>
                            <td>
                                {{ horse.getCompletedTime() }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    {% endfor %}

    <h3>Best Time:</h3>
    Race: {{ bestTimeAndHorseStats.getRace().getId() }}
    for the horse with Stats:
        Speed: {{ bestTimeAndHorseStats.getHorse().getSpeed() }}
        Strength: {{ bestTimeAndHorseStats.getHorse().getStrength()  }}
        Endurance: {{ bestTimeAndHorseStats.getHorse().getEndurance() }}
    completed in {{ bestTimeAndHorseStats.getCompletedTime() }}

{% endblock %}
{% block javascripts %}
    <script language = "javascript"
            src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script language = "javascript">
      $( document ).ready(function() {
        $(document).on('click', '.new-race', function (e) {
          $this = $(this);
          $.ajax({
            type: 'GET',
            url: '/race-simulation/add',
            dataType: 'JSON',
            data: {},
            success: function(data) {
              console.log(data);
              //refresh article.count here
            },
            error: function(data) {
              console.log(data);
              //refresh article.count here
            }
          });
        });


        $(document).on('click', '.progress-race', function (e) {
          $this = $(this);
          var id = $this.attr("data");
          $.ajax({
            type: 'GET',
            url: '/race-simulation/progress?id=' + id,
            dataType: 'JSON',
            data: {},
            success: function(data) {
              console.log(data);
              //refresh article.count here
            },
            error: function(data) {
              console.log(data);
              //refresh article.count here
            }
          });
        });
      });
    </script>


{% endblock %}
